<div style="display: flex; justify-content: center; align-items: center; padding-top: 10dvh; flex-direction: column; ">
<h2>Your Cart</h2>
<p><a href="{% url 'home' %}">Home</a></p>
<ul>
    {% for cart_item in cart_items %}
    {% if cart_item.cart.user == request.user %}
    <li>
        {{ cart_item.menu_item.item }} - {{ cart_item.menu_item.price }} x {{ cart_item.quantity }}
        <form action="{% url 'remove_from_cart' cart_item.id %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Remove">
        </form>
    </li>
    {% endif %}
    {% endfor %}
</ul>

<hr>

{% if cart_total == 0 %}
<h2>Your cart is empty</h2>
{% else %}
<p>Cart total: {{cart_total}}</p>
<button type="button"><a href="{% url 'create_order' %}">Place Order</a></button>
{% endif %}

</div>