<div style="display: flex; justify-content: center; align-items: center; padding-top: 5dvh; flex-direction: column;">
  <h1>Order Placed Successfully</h1>
  <p>Order Number: {{ order.id }}</p>
  <p>Order Date: {{ order.date }}</p>
  <p>Order Time: {{ order.time }}</p>
  <p>Mode of Eating: {{ order.get_mode_of_eating_display }}</p>
  <p>Address: {{ order.address }}</p>
  <p>Status: {{ order.get_status_display }}</p>
  <h3>Items Ordered:</h3>
  <ul>
    {% for item in order.items.all %}
      <li>{{ item.item }} - {{ item.price }}</li>
    {% endfor %}
  </ul>
  <p>Total Price: {{ order.get_total_price }}</p>
  <p>return <a href="{% url 'home' %}">home</a></p>
</div>