<div style="display: flex; justify-content: center; align-items: center; padding-top: 25dvh; flex-direction: column; ">
{% if form.errors %}
<p>You have entered an incorrect username or password!</p>
{% endif %}

{% if next %}
    {% if not user.is_authenticated %}
    <h1>Hungry? login to order</h1>
    {% else %}
    <h1>Please login</h1>
    {% endif %}
{% endif %}

<form action="{% url 'login' %}", method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit", value="Login">
    <input type="hidden", name="next", value="{{ next }}">
</form>
<p>Don't have an account? signup <a href="{% url 'signup' %}">here</a></p>
</div>