<div style="display: flex; justify-content: center; align-items: center; padding-top: 25dvh; flex-direction: column;">
    <h1>Sign up</h1>
    <form action="{% url 'signup' %}", method="POST">
        {% csrf_token %}
        <div style="display: flex; justify-content: center; align-items:self-start; flex-direction: column;">
            {% for field in form %}
            <div style="padding-top: 10px; padding-bottom: 10px;">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                {% if field.errors %}
                    <ul class="errors">
                    {% for error in field.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            </div>
            {% endfor %}
        </div>
        <input type="submit", value="Signup">
    </form>
    <p>Oops! I want to <a href="{% url 'login' %}">Login</a></p> 
</div>