<div style="display: flex; justify-content: center; align-items: center; padding-top: 25dvh; flex-direction: column;">
    <form id="address-form" method="post" action="{% url 'add_address' %}">
      {% csrf_token %}
      {{ address_form.non_field_errors }}
      <div>
        {{ address_form.address }}
        {{ address_form.address.errors }}
      </div>
      <div style="display: flex; justify-content: center;">  <button type="submit">Save</button>  </div>
    </form>
    <p><a href="{% url 'create_order' %}">Oops! I want my delivery to the address I already saved</a></p>
  </div>
  