<h1>Your Orders</h1>
<a href="{% url 'home' %}">Home</a>

<hr>

{% if orders %}
<ul>
  {% for order in orders %}
    <li>
      Order ID: {{ order.id }}<br>
      Order Date: {{ order.date }} - Mode: {{ order.mode_of_eating }}<br>
      Status: {{ order.status }}<br>
      Items:
      <ul>
        {% for item in order.items.all %}
          <li>{{ item.item }}  price: {{ item.price }}</li>
        {% endfor %}
      </ul>
      Total Price: {{ order.get_total_price }}
      <br>
      <a href="{% url 'track_order' order.id %}">Track Order</a>
      <hr style="width: 25dvw; margin-left: 2px;">
    </li>
  {% endfor %}
</ul>
{% else %}
<h2>No orders yet!</h2>
{% endif %}